
.bg-main-img{
  background-image: url('band.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.member-img{
  height: 150px;
  width: 100px;
  object-fit: cover;
  border-radius: 30%;
}

.bg-wheat{
  background-color: rgb(249, 214, 161);
}

.card-img-top{
  width: 100%;
  height: 15vw;
  object-fit: cover;
  
}

.building-img{
  background-image: url(./building-aerial.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.navbar{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.bg-wheat-nav{
  background-color: rgb(249, 214, 161);
}